@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: glyphicons;
    src: url(glyphicons-halfings-regular.woff);
}
*
{
	font-family:glyphicons;
}
#nav
{ 
	background-color:#f9b240;
}
img
{
	padding:0px;
}
#img
{
	width::20%;
}
.separ
{
	margin-top : 1.5%;
}

.contenu
{
	background-color:#64112e;
}
.footer
{
	background-color:#222222;
	color:#d4d5d3;
}
#separ
{
	margin-top:2%;
	margin-bottom:2%;
}
footer #separ
{
	padding-top:1%;
}
span
{
	color:#476a3c;
}
nav a 
{
	color:#991a48;
	font-size:18px;
}
nav h3
{
	color:#476a3c;
}
ul li h3
{
	color:#991a48;
}
.btn
{
	background-color:#f9b240;
}
button h4
{
	color:#64112e;
}
footer div div div
{
	text-align:center;
}
nav span
{
	background-color:#991a48;
}
